<div class="main user-show">
    <div class="container">
        <div class="user">
            <h2><%= @user.user_name %></h2>
            <img src="<%= "/user_images/#{@user.profile_image}" %>">
            <p><%= @user.introduction %></p>
            <button type="button" class="btn btn-success" >
            <%= link_to("編集", "/users/#{@user.id}/edit") %>
            </button>
        </div>
    </div>
</div>