<div style="display: flex; justify-content: center; align-items: center; height: 100vh; flex-direction: column;">  
  <div class="Signup" style="width: 1745px; height: 1836px; position: relative">
    <div class="Rectangle1" style="width: 1745px; height: 1834px; left: 0px; top: 2px; position: absolute; background: #FFFAFA"></div>
    <div class="SubmitButton" style="width: 114px; height: 48px; left: 808px; top: 1342px; position: absolute">
      <div class="Rectangle7" style="width: 114px; height: 48px; left: 0px; top: 0px; position: absolute; background: #84A6FF; border-radius: 10px"></div>
      <div style="left: 17px; top: 12px; position: absolute; color: #FFFAFA; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word">登録する</div>
    </div>
    <div style="width: 691px; height: 11px; left: 678px; top: 296px; position: absolute; color: #84A6FF; font-size: 90px; font-family: Inter; font-weight: 700; word-wrap: break-word">新規登録</div>
    <div style="width: 499px; height: 714.71px; left: 623px; top: 537px; position: absolute">
      <div style="width: 499px; height: 106.52px; left: 0px; top: 0px; position: absolute">
        <div class="Line3" style="width: 499px; height: 0px; left: 0px; top: 106.52px; position: absolute; border: 3px #84A6FF solid"></div>
        <div style="width: 184.76px; height: 14.29px; left: 0px; top: 0px; position: absolute; color: #00040F; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word">名前</div>
      </div>
      <div style="width: 499px; height: 114.31px; left: 0px; top: 192.25px; position: absolute">
        <div class="Line4" style="width: 499px; height: 0px; left: 0px; top: 114.31px; position: absolute; border: 3px #84A6FF solid"></div>
        <div style="width: 184.76px; height: 14.29px; left: 0px; top: 0px; position: absolute; color: #00040F; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word">メールアドレス</div>
      </div>
      <div style="width: 499px; height: 111.71px; left: 0px; top: 399px; position: absolute">
        <div class="Line5" style="width: 499px; height: 0px; left: 0px; top: 110.41px; position: absolute; border: 3px #84A6FF solid"></div>
        <div style="width: 184.76px; height: 14.29px; left: 0px; top: 0px; position: absolute; color: #00040F; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word">パスワード</div>
      </div>
      <div style="width: 499px; height: 111.71px; left: 0px; top: 603px; position: absolute">
        <div class="Line5" style="width: 499px; height: 0px; left: 0px; top: 110.41px; position: absolute; border: 3px #84A6FF solid"></div>
        <div style="width: 184.76px; height: 14.29px; left: 0px; top: 0px; position: absolute; color: #00040F; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word">パスワード確認</div>
      </div>
    </div>
    <div class="Group31" style="display: flex; justify-content: space-between; width: 400px; left: 709px; top: 1466px; position: absolute">
      <div style="color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">アカウントをお持ちの方は</div>
      <div style="color: #84A6FF; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word">ログイン</div>
    </div>
  </div>