<div style="display: flex; justify-content: center; align-items: center; height: 100vh; flex-direction: column;">
<div class="Message" style="width: 998px; height: 328px; position: relative">
  <div style="width: 1261px; height: 160px; left: 0px; top: 168px; position: absolute; color: black; font-size: 50px; font-family: 'Arial'; font-weight: 700; word-wrap: break-word">本を読んで感じたこと共有しませんか？<br/>他の人の考え方や感じ方を知ってみませんか？<br/></div>
  <div class="ShareReading" style="width: 691px; height: 11px; left: 0px; top: 0px; position: absolute; color: #84A6FF; font-size: 90px; font-family: Inter; font-weight: 700; word-wrap: break-word">Share Reading</div>
</div>
  <div style="color: #84A6FF; font-size: 40px; font-family: Inter; font-weight: 700; word-wrap: break-word">何ができる？</div>
  <div class="Rectangle10" style="width: 1261px; height: 398px; background: #F5F5F5; border-radius: 20px; border: 5px black solid">
    <textarea style="width: 100%; height: 100%; border: none; font-size: 40px; font-family: 'Arial';"></textarea>
  </div><div style="color: #84A6FF; font-size: 40px; font-family: Inter; font-weight: 700; word-wrap: break-word">ユーザーレビュー</div>
  <div class="Reviews" style="width: 1261px; height: 484px; position: relative">
    <div class="Review1" style="width: 1261px; height: 142px; left: 0px; top: 0px; position: absolute">
      <div class="Rectangle11" style="width: 1261px; height: 142px; left: 0px; top: 0px; position: absolute; background: #F5F5F5; border-radius: 20px; border: 5px black solid"></div>
      <div style="left: 50px; top: 47px; position: absolute; color: black; font-size: 40px; font-family: Inter; font-weight: 700; word-wrap: break-word">自分が知らなった本を見つけることができた！</div>
    </div>
    <div class="Review2" style="width: 1261px; height: 142px; left: 0px; top: 171px; position: absolute">
      <div class="Rectangle12" style="width: 1261px; height: 142px; left: 0px; top: 0px; position: absolute; background: #F5F5F5; border-radius: 20px; border: 5px black solid"></div>
      <div style="left: 50px; top: 47px; position: absolute; color: black; font-size: 40px; font-family: Inter; font-weight: 700; word-wrap: break-word">本を読んで感じたことを共有できるのがうれしい</div>
    </div>
    <div class="Review3" style="width: 1261px; height: 142px; left: 0px; top: 342px; position: absolute">
      <div class="Rectangle13" style="width: 1261px; height: 142px; left: 0px; top: 0px; position: absolute; background: #F5F5F5; border-radius: 20px; border: 5px black solid"></div>
      <div class="Instagram" style="left: 51px; top: 47px; position: absolute; color: black; font-size: 40px; font-family: Inter; font-weight: 700; word-wrap: break-word">読書版のInstagramみたい</div>
    </div>
  </div>
