<div class="container d-flex flex-column align-items-center justify-content-center vh-100 p-3">
    <div class="Message text-center mb-3">
        <h1 class="text-primary display-4 fw-bold">Share Reading</h1>
        <p class="text-dark lead fw-bold">本を読んで感じたこと共有しませんか？<br/>他の人の考え方や感じ方を知ってみませんか？</p>
    </div>
    <div class="text-primary display-6 mb-3 fw-bold">何ができる？</div>
    <div class="Rectangle10 p-3 mb-3 border border-dark rounded bg-light w-100">
        <textarea class="w-100 h-100 border-0 fs-4 fw-bold"></textarea>
    </div>
    <div class="text-primary display-6 mb-3 fw-bold">ユーザーレビュー</div>
    <div class="Reviews w-100">
        <div class="Review1 p-3 mb-3 border border-dark rounded bg-light">
            <p class="text-dark lead fw-bold">自分が知らなった本を見つけることができた！</p>
        </div>
        <div class="Review2 p-3 mb-3 border border-dark rounded bg-light">
            <p class="text-dark lead fw-bold">本を読んで感じたことを共有できるのがうれしい</p>
        </div>
        <div class="Review3 p-3 mb-3 border border-dark rounded bg-light">
            <p class="text-dark lead fw-bold">読書版のInstagramみたい</p>
        </div>
    </div>
</div>