<header>
    <nav class="navbar navbar-expand-lg navbar-primary bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand text-white" href="#">Share Reading</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <%= link_to("こんにちは！#{@current_user.user_name}", "/users/#{@current_user.id}", class: "nav-link text-white") %>
                    </li>
                    <li class="nav-item">
                        <%= link_to("ログイン", "/login", class: "nav-link text-white") %>
                    </li>
                    <li class="nav-item">
                        <%= link_to("新規登録", "/signup", class: "nav-link text-white") %>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>