<header>
    <nav>
        <ul>
            <li><a href="#">Share Reading</a></li>
            <li><a href="#">探しに行く</a></li>
            <li><a href="#">記録する</a></li>
            <li><a href="#">Hello,たろうさん</a></li>
            <li><a href="#">新規登録</a></li>
        </ul>
    </nav>
</header>
